/* TODO Add site wide styles */
@import './reset.css';

:root {
  /* Clip Paths */
  --hexagon: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);

  /* Colors */
  --logo1: #31E89F;
  --logo2: #31E8E8;
  --logo3: #31C6E8;
  --orange: #FFCB77;
  --red: #FE6D73;
  --shadow: rgba(.2, .2, .2, .3);

  /* Font Family */
  font-family: "Roboto", sans-serif;
}

.full-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.loader-wrapper {
  position:absolute;
  z-index: 100;
  background-color: whitesmoke;
}
