.logo-path__logo-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.logo-path__hexagon{
  position: absolute;
  height: 66.6666%;
  width: 66.6666%;

  clip-path: var(--hexagon);
}

.logo-path__hexagon--TL {
  background-color: var(--logo1);
  opacity: 60%;
}

.logo-path__hexagon--BL {
  background-color: var(--logo2);
  opacity: 60%;
}

.logo-path__hexagon--R {
  background-color: var(--logo3);
  opacity: 60%;
}

.logo-path__hexagon--TL {
  top: 0;
  left: 0;
}

.logo-path__hexagon--BL {
  bottom:0;
  left: 0;
}

.logo-path__hexagon--R {
  top:16.6666%;
  right: 0;
}
