.logo-background__background-wrapper {
  position:absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background:whitesmoke; */
  background: rgb(209,209,209);
  background: linear-gradient(0deg, rgba(209,209,209,1) 0%, rgba(247,247,247,1) 50%);
  z-index: -5;
}

.logo-background__logo-container {
  width: 77.9422889vh;
  max-width: 90vw;
  height: 90vh;
  max-height: 103.923045vw;
}

.logo-background__github-link {
  position: absolute;
  bottom: 5px;
  right: 5px;

  text-decoration: none;

  color: #555;

  cursor: pointer;

  font-size: 30px;
  padding: 5px;

}

.logo-background__github-link:visited {
  color: #555;
}

.logo-background__github-link:hover {
  filter: brightness(10%)
}
