div[contenteditable=true] {
  outline: 1px solid grey;
  outline-offset: .2em;
  &:focus {
    outline: 2px solid grey;
  }
}

.section{
  position: relative;

  width: 70vw;
  max-width: 1000px;
  min-height: 30vh;
  border-radius: 30px;
  box-shadow: 0 0 10px var(--shadow);
  padding: 30px;
  z-index: 5;

  &__edit,
  &__edit-picture{
    position: absolute;
    top: 1em;
    right: 1em;

    background-color: var(--neutral-grey);
    padding: .5em;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--shadow);
    color: black;

    opacity: 0.5;

    cursor: pointer;

    &:hover {
      opacity: 1;

    }
  }

  &__edit-picture{
    right: initial;
    left: 1em;
  }
  &__edit-delete{
    top: 3.5em
  }

  &__color-tray{
    position:absolute;
    top: -40px;
    right: 30px;

    display: flex;
    align-items: center;

    color: black;
    background-color: white;
    box-shadow: 0 0 10px var(--shadow);

    padding: 5px 10px;
    border-radius: 10px;

    z-index: 0;

    > * {
      padding: 0 1em;
    }
  }


  &-text{
    &__header {
      font-size: 32px;
      font-family: var(--title-text);
      margin-bottom: 30px;
    }

    &__body {
      font-family: var(--body-text);

      b {
        font-weight: bold;
      }

      i {
        font-style: italic
      }

      u {
        text-decoration: underline;
      }
    }
  }

  &-video{
    height: fit-content;
    &__input{
      color: black;
      background-color: white;
      box-shadow: 0 0 10px var(--shadow);

      border-radius: 10px;

      padding: 20px;
      margin-bottom: 10px;

      &-label{
        font-size: 18px;
      }

      &-field{
        margin: 10px;
        width: 300px;
      }
    }

    &__instructions{
      line-height: 1.5em;
      font-size: 14px;
    }
  }
}
