$block: '.create-show-form';

#{$block} {
  position: relative;

  width: 90fr;

  margin: 5vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
                      "details preview"
                      "dates dates"
                      "buttons buttons";

  &__titles {
    font-family: var(--title-text);
    font-size: 20px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-area: details;
    background-color: white;

    padding: 30px;

    font-family: var(--body-text);

    box-shadow: 0 0 10px var(--shadow);
    border-radius: 20px;

    &-title-container {
      width: 100%;
    }

    &-field-container {
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
    }

    &-style {
      width: 100%;
      margin: 0 30px;
      &-colors{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr;

        section {
          display: flex;
          align-items: center;
          label {
            margin-right: 20px;
          }
        }
      }
    }

  }
  &__preview {
    margin: 30px;

    grid-area: preview;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__dates {
    grid-area: dates;
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 20px;

    &-widget {
      margin-top: 20px;
      width: 100%;

      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 50px;
    }

    &-form{
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    &-list {
      display: inline-block;
      max-height: 200px;
      overflow-y: auto;

      &--error {
        border: 2px solid var(--red);
        border-radius: 20px;
      }

      th {
        font-weight: bold;
        font-size: 1.2em;
        position:sticky;
        top: 0;
        background: white;
      }

      th,
      td {
        width: 30%;
        text-align: center;

        :last-of-type {
          width: 40px;
        }
      }
    }
  }
  &__buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
  }
}


@media screen and (max-width: 850px) {
  #{$block} {
    display: flex;
    flex-direction: column;


    &__dates-widget {
        display: flex;
        flex-direction: column;
      }
  }
}
